body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.instagramCol {
  text-align: center;
  padding-bottom: 20px;
}

.insta-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.insta-flex-container > div {
  padding-top: 35px;
  background-color: white;
  width: 300px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.video-spacer {
  height: 375px;
}
@media only screen and (max-width: 600px) {
  .video-spacer {
    height: auto;
  }
}

.reddit-download-container {
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
  /* padding: 30px; */
}
@media only screen and (max-width: 1400px) {
  .reddit-download-container {
    width: 100%;
    /* padding: 20px; */
  }
}

@media only screen and (max-width: 800px) {
  .reddit-download-container {
    width: 100%;
    /* padding: 10px; */
  }
}

.insta-download-container {
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  /* box-shadow: 5px 10px rgba(0, 0, 0, 0.4); */
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
}
@media only screen and (max-width: 1400px) {
  .insta-download-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .insta-download-container {
    width: 100%;
  }
}

.youtube-download-container {
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
}

@media only screen and (max-width: 1400px) {
  .youtube-download-container {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .youtube-download-container {
    width: 95%;
  }
}

.youtube-header {
  padding-bottom: 10px;
  padding: 25px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .youtube-header {
    padding: 5px;
  }
}

.youtube-thumbnail {
  padding-top: 30px;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .youtube-thumbnail {
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .youtube-thumbnail {
    width: 95%;
  }
}

.outer-container {
  max-width: 70%;
  margin: auto;
  padding-top: 50px;
}
@media only screen and (max-width: 1300px) {
  .outer-container {
    max-width: 85%;
  }
}

@media only screen and (max-width: 800px) {
  .outer-container {
    max-width: 95%;
  }
}

.reddit-button {
  background-color: #e43725;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 18px;
  border-radius: 2%;
}

.reddit-button a:hover {
  color: white !important;
  text-decoration: none !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 37, 37);
  color: white;
  text-align: center;
}

.footer p {
  padding-top: 10px;
}

.footer p a {
  color: white;
}

header {
  height: 100%;
  width: 100%;
  background-color: rgb(48, 45, 45);
  text-align: center;
}

header > p > img {
  width: 50px;
}

header > p {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;
  }
}

.snapper-form {
  text-align: center;
  width: 100%;
  padding-top: 60px;
}

.snapper-input {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 10px;
}

@media only screen and (max-width: 1000px) {
  .snapper-input {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .snapper-input {
    width: 80%;
  }
}

@media only screen and (max-width: 405px) {
  .snapper-input {
    width: 60%;
  }
}

.snapper-button {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  outline: none;
  padding: 7px 16px;
  border: none;
  background-color: #e43725;
  color: white;
  border-radius: 5px;
}

.snapper-button:hover {
  text-decoration: none !important;
  background-color: #d41f0b;
}

.snapper-button:active {
  background-color: #d41f0b;
  text-decoration: none !important;
  transform: translateY(2px);
}

.redditThumbnail {
  max-width: 300px;
  width: 70%;
  height: auto;
}

.reddit-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.reddit-flex-container > div {
  width: 50%;
  min-width: 200px;
}

@media only screen and (max-width: 1200px) {
  .reddit-flex-container > div {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .reddit-flex-container > div {
    width: 90%;
  }
}

.reddit-download-flex {
  padding: 20px;
  padding-top: 10px;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .reddit-download-flex {
    padding: 0px;
  }
}

.footer > p {
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0 auto;
}

/* React Tabs styles */

.react-tabs__tab::after {
  display: none;
}

.react-tabs__tab {
  width: 150px;
  text-align: center;
  background-color: #e88d83;
  margin-right: 3px;
}

@media only screen and (max-width: 500px) {
  .react-tabs__tab {
    width: 90%;
    margin-bottom: 5px;
  }
}

.react-tabs__tab--selected {
  background-color: #e43725;
}

.react-tabs__tab-list {
  margin-bottom: 0;
  text-align: center;
  /* width: 100%;
  margin: auto; */
}

.react-tabs__tab :nth-child(1) {
  display: none;
}

/* Reddit Loading Animation */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e43725;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.youtube-table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
}

.youtube-table td,
.youtube-table th {
  border: 1px solid rgb(236, 236, 236);
  padding: 5px;
}

.youtube-table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.youtube-table tr:hover {
  background-color: #e88d8365;
}

.youtube-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e88d83;
  color: rgb(0, 0, 0);
  font-weight: normal;
}

.youtube-title {
  text-align: center;
  padding: 15px;
}
